/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

.ng-scope {
  height: 100%;
}

.angular-google-map-container {
  margin-right: 15px;
  margin-left: 15px;
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
}

.container {
  /*background: #FFF;*/
  /*padding: 60px 20px 20px 20px;*/
  /*margin-top: 1em;*/
  /*padding: 3em 6em 3em 6em;*/
  /*padding-top: 100px;*/
  /*margin: 6em 6em 3em 6em;*/
  margin: 6em;
  color: #333;
}

.container > section > h3 {
  margin-bottom: 2em;
}

.home-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+38,ffffff+60 */
  /*background: #eeeeee; /!* Old browsers *!/*/
  /*background: -moz-linear-gradient(-45deg,  #eeeeee 38%, #ffffff 60%); /!* FF3.6+ *!/*/
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(38%,#eeeeee), color-stop(60%,#ffffff)); /!* Chrome,Safari4+ *!/*/
  /*background: -webkit-linear-gradient(-45deg,  #eeeeee 38%,#ffffff 60%); /!* Chrome10+,Safari5.1+ *!/*/
  /*background: -o-linear-gradient(-45deg,  #eeeeee 38%,#ffffff 60%); /!* Opera 11.10+ *!/*/
  /*background: -ms-linear-gradient(-45deg,  #eeeeee 38%,#ffffff 60%); /!* IE10+ *!/*/
  /*background: linear-gradient(135deg,  #eeeeee 38%,#ffffff 60%); /!* W3C *!/*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 ); /!* IE6-9 fallback on horizontal gradient *!/*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c667+0,f79621+100;Orange+3D+%234 */


  /*background: #f9c667; /!* Old browsers *!/*/
  /*background: -moz-linear-gradient(-45deg,  #f9c667 0%, #f79621 100%); /!* FF3.6+ *!/*/
  /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); /!* Chrome,Safari4+ *!/*/
  /*background: -webkit-linear-gradient(-45deg,  #f9c667 0%,#f79621 100%); /!* Chrome10+,Safari5.1+ *!/*/
  /*background: -o-linear-gradient(-45deg,  #f9c667 0%,#f79621 100%); /!* Opera 11.10+ *!/*/
  /*background: -ms-linear-gradient(-45deg,  #f9c667 0%,#f79621 100%); /!* IE10+ *!/*/
  /*background: linear-gradient(135deg,  #f9c667 0%,#f79621 100%); /!* W3C *!/*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 ); /!* IE6-9 fallback on horizontal gradient *!/*/
  /*width: 100%;*/
  /*height: 100%;*/

  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.16, #C7C7C7),
    color-stop(1, #FFFFFF)
  );
  background-image: -o-linear-gradient(right bottom, #C7C7C7 16%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(right bottom, #C7C7C7 16%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(right bottom, #C7C7C7 16%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(right bottom, #C7C7C7 16%, #FFFFFF 100%);
  background-image: linear-gradient(to right bottom, #C7C7C7 16%, #FFFFFF 100%);
  background-position: top left, center center;
  background-size: cover;
  background-repeat: repeat, no-repeat;
}

.container h1 {
  margin: 1em 0 1em 0;
}

.container section {
  margin-bottom: 25px;
}

.container section h1 {
  margin-top: 0;
}

.container section .list-group {
  margin-top: 15px;
}

hr {
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
#footer {
  padding-left: 50px;
  padding-right: 50px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  /*position: fixed;*/
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1000;
  /*background-color: rgba(255, 255, 255, 0.0);*/
  /*background: rgba(255, 255, 255, 0.0);*/
  position: fixed;
  top: 0;
  width: 100%;
  /*font-size: 24px;*/
  /*line-height: 48px;*/
  /*height: 48px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.header .navbar {
  margin-bottom: 0;
}

.header .navbar .navbar-header .navbar-brand {
  margin-left: 15px;
}

.container-fluid { padding-left: 0; padding-right: 0; }

.header .navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.header .navbar-default {
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
}

.header .navbar-toggle { border: none; }

.header .navbar-default .navbar-nav > li > a {
  color: #FFF;
  /*padding-bottom: 0;*/
  height: 100%;
}

.header .navbar-default .navbar-nav > li > a:hover {
  color: #a4cd33;
  border-top: 5px solid #a4cd33;
  transition: all 0.4s ease;
  padding-top: 10px;
}

.header .navbar-default .navbar-nav {
  margin-right: 5px;
}

.dropdown > a > i {
  /*margin-top: -2px;*/
}

/*.header .collapse {*/
/*background-color: #FFF;*/
/*}*/

/*.header .collapse .navbar-nav > li > a {*/
/*color: #777;*/
/*}*/

/*.header .collapse .navbar-nav > li > a:hover {*/
/*color: #000;*/
/*}*/


.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  line-height: 40px;
  padding-bottom: 19px;
  color: white;
}

.header.sticky {

  /*background: #efc47D;*/
  /*text-align: left;*/
  /*padding-left: 20px;*/
  position: fixed;
  /*width: 100%;*/
  /*background: #272833;*/
  background: #000000;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
}
.header.sticky h3 {
  color: white;
}

#header-nav > li > a {
  color: white !important;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  /*margin: 30px 0;*/
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#banner {
  background-attachment: scroll, fixed;
  background: linear-gradient(rgba(39, 40, 51, 0.15), rgba(39, 40, 51, 0.15)), url("../images/product_image.png");
  background-position: top left, center center;
  background-size: cover;
  background-repeat: repeat, no-repeat;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  min-height: 100vh;
  text-align: center;
  /*margin-bottom: 1em;*/
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  /*width: 100%;*/
}

/*#banner:after {*/
/*background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("../images/overlay.png");;*/
/*background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("../images/overlay.png");;*/
/*background-image: -o-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("../images/overlay.png");;*/
/*background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("../images/overlay.png");;*/
/*background-image: linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("../images/overlay.png");;*/
/*content: '';*/
/*display: block;*/
/*height: 100%;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*width: 100%;*/
/*}*/

.content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 8.5em;
  position: relative;
  text-align: right;
  vertical-align: middle;
}

.content header {
  display: inline-block;
  vertical-align: middle;
}

.content header h2 {
  font-size: 4.5em;
  margin: 0;
  color: dimgray;
}

.content header h3 {
  /*margin: 1em 0 0 0;*/
  font-size: 2.0em;
  top: 0;
  color: dimgray;
}

.content .image {
  /*border-radius: 100%;*/
  display: inline-block;
  height: 18em;
  margin-left: 3em;
  vertical-align: middle;
  width: 18em;
}

.content .image img {
  /*border-radius: 100%;*/
  display: block;
  width: 100%;
}

#innovation-section {
  background: #ffffff;
  /*padding: 50px 100px 50px 100px;*/
  /*padding: 3em 6em 3em 6em;*/
  min-height: 60vh;
}

#innovation-section h4 {
  font-size: 2.0em;
  color: dimgray;
}

#eco-container {
  padding: 2em 0 2em 0;
}

#eco-container .img-responsive {
  margin: 0 auto;
}

#product-tech {
  padding: 2em 0 2em 0;
}

#product-tech .img-responsive {
  margin: 0 auto;
  /*width: 50%;*/
  /*height: 50%;*/
}

#economy-chart {
  margin: 0 auto;
}

#motor-img {
  /*padding-left: 0 !important;*/
  /*padding-right: 0 !important;*/
  /*width: 100%;*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
}

.advantages-img {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  margin-top: 2em;
}

#innovation-section p {
  /*width: 80%;*/
}

#info-button {
  background: #a4cd33;
  color: #ffffff;
  border-color: #ABD635;
  /*margin: 50px 0 50px 0;*/
  /*margin-top: 3em;*/
  /*margin-bottom: 1em;*/
}

#info-button:hover {
  background: #ABD635;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#questions {
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  padding-bottom: 3em;
}

.spec {
  /*display: table;*/
  /*margin: 0 auto;*/
  /*float: left;*/
}

.spec > h5 {
  font-weight: bold;
  margin: 1.2em 0 1.2em 0;
}

/*.front-img:before {*/
/*content: '';*/
/*display: inline-block;*/
/*height: 100vh;*/
/*vertical-align: middle;*/
/*width: 1%;*/
/*}*/

/*.front-img .content {*/
/*display: inline-block;*/
/*margin-right: 1%;*/
/*max-width: 95%;*/
/*padding: 6em;*/
/*position: relative;*/
/*text-align: right;*/
/*vertical-align: middle;*/
/*z-index: 100;*/
/*}*/

/*.front-img .content header {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*}*/

/*.front-img .content header h2 {*/
/*font-size: 2.5em;*/
/*margin: 0;*/
/*}*/

/*.front-img .content header p {*/
/*margin: 0.5em 0 0 0;*/
/*top: 0;*/
/*}*/

/*.front-img .content .image {*/
/*border-radius: 100%;*/
/*display: inline-block;*/
/*height: 18em;*/
/*margin-left: 3em;*/
/*vertical-align: middle;*/
/*width: 18em;*/
/*}*/

/*.front-img .content .image img {*/
/*border-radius: 100%;*/
/*display: block;*/
/*width: 100%;*/
/*}*/

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-left {
  display: flex;
  align-items: center;
  float: left;
}

.vertical-align-right {
  display: flex;
  align-items: center;
  float: right;
}

.front-img {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.35);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#partners {
  margin-top: 3em;
  margin-bottom: 3em;
}

.partner-img {
  /*width: 15%;*/
  /*height: 15%;*/
  width: 250px;
  height: 250px;
}

/*.front-img .content {*/
  /*/!*display: inline-block;*!/*/
  /*/!*margin-right: 1%;*!/*/
  /*/!*max-width: 95%;*!/*/
  /*/!*padding: 6em;*!/*/
  /*/!*position: absolute;*!/*/
  /*/!*vertical-align: middle;*!/*/
  /*/!*color: black;*!/*/
  /*/!*z-index: 100;*!/*/
  /*position: relative;*/
  /*z-index: 100;*/
  /*min-height: 50vh;*/
  /*background: rgba(39, 40, 51, 0.25);*/
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*border-radius: 3px;*/
  /*/!*display: table;*!/*/
  /*/!*table-layout: fixed;*!/*/
  /*top: 25vh;*/
/*}*/

/*.front-img .content header {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
/*}*/

/*.front-img .content header h2 {*/
  /*font-size: 3.5em;*/
  /*margin: 0;*/
  /*color: white;*/
/*}*/

/*.front-img .content header p {*/
  /*margin: 1em 0 0 0;*/
  /*top: 0;*/
  /*color: white;*/
/*}*/

.product-content {
  position: relative;
  z-index: 100;
  min-height: 70vh;
  background: rgba(255, 255, 255, 0.50);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 6em;
}

.product-content header {
  display: inline-block;
  vertical-align: middle;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1.5em 0 1.5em 0;
  margin: 3.0em 0 3.0em 0;
}

.product-content header h2 {
  font-size: 2.0em;
  margin: 0;
  color: white;
}

.product-content p {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 0 0 0;
  top: 0;
  color: white;
}

/*.front-img:before {*/
/*background-image: url("../images/overlay.png");*/
/*content: '';*/
/*display: block;*/
/*height: 100%;*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%;*/
/*}*/

.front-img .image.main {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
}

.front-img .image.main img {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*min-height: 100vh;*/
}

.image {
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/*.image:before {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*background-image: url("../images/overlay.png");*/
/*width: 100%;*/
/*height: 100%;*/
/*z-index: 1;*/
/*}*/

.image img {
  /*border-radius: 4px;*/
  display: block;
  position: relative;
}

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.fit {
  display: block;
  margin: 0 0 0.5em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.product-desc {
  margin: 25px 0px 25px 0px;
}

.cont {
  margin: 50px;
}

.black {
  color: #000000 !important;
}

#footer {
  /*background: #272833;*/
  background: #000000;
  padding: 6em 0;
  text-align: center;
}

#footer .icons .icon.alt {
  text-decoration: none;
}

#footer .icons .icon.alt:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#footer .icons .icon.alt:before {
  /*color: #272833 !important;*/
  color: #000000 !important;
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  line-height: 1em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

#footer .icons li {
  display: inline-block;
  padding: 0 0.5em;
}

#footer .icons > li > a > i {
  color: rgba(255, 255, 255, 0.5);
}

#footer .icons > li > a > i:hover {
  color: #a4cd33;
}

/*.fa-twitter:hover {*/
/*color: #a4cd33;*/
/*}*/

/*#footer .icons:hover {*/
/*color: #a4cd33;*/
/*}*/

#footer .icons li .label { display: none; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 768px) {
  .header .navbar-header {
    /*background-color: #272833;*/
    background-color: #000000;
  }

  .header .collapse {
    background-color: #FFF;
  }

  .header .navbar-default .navbar-nav > li > a {
    color: #777;
  }

  .header .navbar-default .navbar-nav > li > a:hover {
    color: #000;
  }
}
