<header class="header sticky col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul id="header-nav" class="nav navbar-nav navbar-right">
    <li><a ng-href="#">Accueil</a></li>
    <li><a ng-href="#">Blog</a></li>
    <!--<li><a ng-href="#/company">Compagnie</a></li>-->
    <!--<li><a ng-href="#/product">Produits</a></li>-->
    <!--<li><a ng-href="#/team">L'équipe</a></li>-->
    <!--<li><a ng-href="#/news">Nouvelles</a></li>-->
    <!--<li><a ng-href="#/partners">Partenaires</a></li>-->
    <!--<li><a ng-href="#/contact">Contact</a></li> -->
  </ul>
  <h3 class="text-muted">Grantuned</h3>
</header>

<section>
  <div id="container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1>{{content.title}}</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>{{content.subtitle}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item disabled">{{content.infoTitle}}</a>
          <a href="#" class="list-group-item">{{content.email}}</a>
          <a href="#" class="list-group-item">{{content.address}}</a>
          <a href="#" class="list-group-item">{{content.city}}, {{content.province}}</a>
          <a href="#" class="list-group-item">{{content.postalCode}}</a>
          <a href="#" class="list-group-item">{{content.phone}}</a>
        </div>
      </div>
    </div>

    <hr class="divider">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <iframe width="1200" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=400%20rue%20Monfort%2C%20Montr%C3%A9al&key=AIzaSyA6z1vC7jEh0j5EhnL8yi2Z7U130Tz2lF4"></iframe>
    </div>

  </div>

</section>
