<section id="banner">
  <div class="content">
    <header class="text-center">
      <h2>Boudin sausage biltong salami</h2>
      <p>Spare ribs meatball andouille shankle tail jerky pork loin tongue.<br />
        Spare ribs meatloaf shoulder beef, jowl kielbasa jerky ham doner.</p>
    </header>
  </div>
</section>

<section id="one">
  <header class="text-center">
    <h2>Bresaola meatball doner</h2>
    <p>Bacon ipsum dolor amet pork</p>
  </header>
</section>

<section ng-repeat="section in sections" id={{section.id}} class="front-img">
  <span class="image fit main"><img src={{section.imagePath}} alt="" /></span>
  <div class="content col-xs-6 col-sm-6 col-md-6 col-lg-6 {{section.float}}">
    <header>
      <h2 class={{section.textAlign}}>{{section.title}}</h2>
      <p class={{section.textAlign}}>{{section.content}}</p>
    </header>
  </div>
  <!--<a href="#two" class="goto-next scrolly">Next</a>-->
</section>

<section id="five">
  <header class="text-center">
    <h2>Shank bacon ball tip shankle</h2>
    <p>Strip steak prosciutto corned beef jowl tongue fatback picanha filet mignon</p>
  </header>
</section>
